body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #232830;
    text-align: center;

}
.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px; 
    padding: 0 20px;
    font-family: Poppins;
}
.title {
    display: flex;
    padding-top: 10px;
    padding-left: 125px;
    font-family: 'Poppins';
}

.nav-1{
    padding: 10px;
    padding-top: 5px;
    text-align: right;
    padding-right: 125px;
    word-spacing: 10px;

}

#Main-Image {
    width: 194.45px;
    height: 204.08px;
}

h1 {
    font-family: 'Recursive';
    color: rgb(238, 124, 120);
    font-size: 71px;
    font-style: italic;
    font-weight: 400;
}

h3 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 29px;
}

hr {
    background-color: rgba(50, 50, 50, 0.7);

}

#nav-2{
    gap: 20px;
}

a {
    gap: 20px;
    font-family: 'Recursive';
    font-weight: 400;
    font-style: italic;
    font-size: 27px;
    color: #909090;
    text-decoration: none; 
    display: inline-block;
}

header {
    color: #fff;
}

ul {
    list-style-type: none;
    display: inline;
}

#last {
    --mask: linear-gradient(to right,
            rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 0) 100% 50% / 100% 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.content-block{
    display: flex;
    gap: 10px;
    width: 20px;
}
/* hello */
.box{
    font-family: 'Poppins';
    box-sizing: border-box;  
}